<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="10" verbose="2">
    <test verbose="2" name="atrify-taf">
        <classes>
            <class name="com.atrify.taf.ApiTests">
                <methods>
                    <include name="getAllUsersTest"/>
                    <include name="database_connection_test"/>
                    <include name="database_connection_test2"/>
                    <include name="database_connection_test3"/>
                    <include name="get_single_user_test"/>
                    <include name="create_a_user_test"/>
                    <include name="update_a_user_test"/>
                    <include name="delete_a_user_test"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>